<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'contact.css' %}">
    <title>Contact Us</title>
</head>
<body>
  
  {% for message in messages %}
   <p class="updated">{{message}}</p>
{% endfor %}
    <div class="container">
        <div class="content">
          <div class="left-side">
            <div class="address details">
              <i class="fas fa-map-marker-alt"></i>
              <div class="topic">Address</div>
              <div class="text-one">Patiala</div>
              <div class="text-two">PUNJAB</div>
            </div>
            <div class="phone details">
              <i class="fas fa-phone-alt"></i>
              <div class="topic">Phone</div>
              <div class="text-one">+917009550072</div>
              
            </div>
            <div class="email details">
              <i class="fas fa-envelope"></i>
              <div class="topic">Email</div>
              <div class="text-one">amarbaliyan147@gmail.com</div>
              
            </div>
          </div>
          <div class="right-side">
            <div class="topic-text">Send us a message</div>
            <p>If you have any work from me or any types of quries related to my tutorial, you can send me message from here. It's my pleasure to help you.</p>
          <form action="/messages" method="POST">
            {% csrf_token %}
            <div class="input-box">
              <input type="text" placeholder="Enter your name" name="yourname">
            </div>
            <div class="input-box">
              <input type="text" placeholder="Enter your email" name="yourmail">
            </div>
            <div class="input-box message-box">
              <input type="text" placeholder="Write Your Message" name="yourmess">
            </div>
            <div class="button">
              <button type="submit">SEND NOW</button>
            </div>
          </form>
        </div>
        </div>
      </div>
</body>
</html>